<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
        
        <!--sidebar-->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div data-spy="affix" data-offset-top="45" data-offset-bottom="90">
            <ul class="nav" id="sidebar-nav">
              <li><a href="#">Dashboard</a></li>
              <li><a href="/database">Manage Database</a></li>
              <li><a href="#section2">Create a Collection</a></li>
              <li><a href="#section3">Manage a Collection</a></li>
              
            </ul>
           </div>
        </div><!--/sidebar-->
  	
        <!--/main-->
        <div class="col-xs-12 col-sm-9" data-spy="scroll" data-target="#sidebar-nav">
          <div class="row">
           	 <div class="col-sm-6">
                <div class="panel panel-default">
                  <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Your Collections</h4></div>
                    <div class="panel-body">
                      <div class="list-group">
                        <a href="#" class="list-group-item active">Active Collection</a>
                        <a href="#" class="list-group-item">Second Collection</a>
                        <a href="#" class="list-group-item">Third Collection</a>
                        <a href="#" class="list-group-item">Fourth Collection</a>
                        <a href="#" class="list-group-item">Fifth Collection</a>
                        <a href="#" class="list-group-item">Sixth Collection</a>
                        <a href="#" class="list-group-item">Collection</a>
                        <a href="#" class="list-group-item">Collection</a>
                        <a href="#" class="list-group-item">Collection</a>
                        <a href="#" class="list-group-item">Collection</a>
                        <a href="#" class="list-group-item">Collection</a>
                      </div>
                    </div><!--/panel-body-->
                </div><!--/panel-->
             
             
                <!--<div class="panel panel-default">
                   <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Quick Note</h4></div>
                    <div class="panel-body">
                      <p><img src="//placehold.it/100" class="img-circle pull-right"> <a href="#">Notepad</a></p>
                      <div class="clearfix"></div>
                      <hr>
                        Notes
                      <hr>
                      <br />
                      <div class="btn-group pull-right btn-toggle"> 
                        <button class="btn btn-default">Save</button>
                        <button class="btn btn-primary active">Delete</button>
                      </div>
                    </div>--><!--/panel-body-->
                <!-- </div>--><!--/panel-->
            </div><!--/col-->
            
            <div class="col-sm-6">
                <div class="well"> 
                     <form class="form">
                      <h4>Quick Search</h4>
                      <div class="input-group text-center">
                      <input type="text" class="form-control input-lg" title="Quick Database Search" placeholder="Search Term">
                        <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button">OK</button></span>
                      </div>
                    </form>
                 </div><!--/well-->
        <!-- 
                 <div class="panel panel-default">
                   <div class="panel-heading"><a href="#" class="pull-right">View all</a><h4>Quick Note</h4></div>
                    <div class="panel-body">
                    <p><img src="//placehold.it/100" class="img-circle pull-right"> <a href="#">Notepad</a></p>
                      <div class="clearfix"></div>
                      <hr>
                        Notes
                      <hr>
                      <br />
                      <div class="btn-group pull-right btn-toggle"> 
                        <button class="btn btn-default">Save</button>
                        <button class="btn btn-primary active">Delete</button>
                      </div>
                   
                      <p><img src="//placehold.it/100" class="img-circle pull-right"> <a href="#">Possibly Display Unread Messages</a></p>
                      <br /><br /><br /><br /><br /><br />
                      <div class="clearfix"></div>
                      <hr>
                        Unread Messages Here(If time permits)
                      <hr>
                      <div class="btn-group pull-right btn-toggle"> 
                        <button class="btn btn-default">Respond</button>
                        <button class="btn btn-primary active">Archive</button>
                        <button class="btn btn-default">Delete</button>
                      </div>
                      
                      <div class="list-group">
                        <a href="#" class="list-group-item active">Collection_One</a>
                        <a href="#" class="list-group-item">Collection_Two</a>
                        <a href="#" class="list-group-item">Collection_Three</a>
                      </div>
                    </div>--><!--/panel-body-->
                 </div><!--/panel-->
              
              </div><!--/col-->
          </div><!--/row-->
         
          <hr>
   
  
                    
                  </div><!--/panel-body-->
               </div> <!--/panel-->
            </div><!--/col-6-->
          
          	<div class="clearfix"></div>
                   
        </div><!--/.col-xs-12-->
      </div><!--/.row-->
    </div>
  </div><!--/.container-->
</div><!--/.page-container-->