{% extends 'base.html' %}
{% load static %}
{% block body %}


<div class="container">
	
	<div class="jumbotron">
		<div class="row">
				<div class='col-md-4'>
					{% if search_term %}
						<span class="search_term">Search Term: {{search_term}}</span>
					{% endif %}
				</div>
				<div class='col-md-4'>
					{% if search_term %}
						<span class="search_term">{{items.count}} Matches</span>
					{% endif %}
				</div>
			
		</div><br />
		
		<div class="row">
	
			{% for item in items %}
			<div class='col-md-2'>
				<a href="{% url 'items:getitem' item.object.title %}"><img src="{{MEDIA_URL}}{{item.object.item_image}}" class="img-thumbnail img-responsive" height="120" width="150"></a><br />
				<div class="bg-success">
				<b>Item Title</b><br />
   				{{ item.object.title }}<br />
   				<b>Item Subject</b><br />
   				{{ item.object.subject }}<br />
   				<br /><br />
   				</div>
  
   			</div>
   			<div class='col-md-1'></div>
				{% empty %}
				<div class='col-md-4'>
   					<h2>No items found.</h2>
   				</div>
			{% endfor %}
		</div>
	</div>

</div>

{% endblock body %}