{% extends 'base.html' %}
{% load static %}
{% block body %}

<!--

<div class="jumbotron">
<h1 align='center'>{{user.username}}'s Collections</h1>
</div>
-->

<div class="container">
	
	<div class="jumbotron">
		<div class="row">
		
				<div class='col-md-4'>
					<form type="get" action="{% url 'items:searchitem' %}">
					<input type="text" name="q" class='form-control' placeholder='Search Collections' />
					<button type="submit" name="item_search_btn" class='btn btn-warning btn-md btn-block' >Search</button>
					</form>
				</div>
			
		</div><br />
		<div class="row">
	
			{% for item in items %}
			<div class='col-md-2'>
				<a href="{% url 'items:getitem' item.object.title %}"><img src="{{MEDIA_URL}}{{item.object.item_image}}" class="img-thumbnail img-responsive" height="120" width="150"></a><br />
				<div class="bg-success">
				<b>Item Title</b><br />
   				{{ item.object.title }}<br />
   				<b>Item Subject</b><br />
   				{{ item.object.subject }}<br />
   				<br /><br />
   				</div>
   				</form>
   			</div>
   			<div class='col-md-1'></div>
				{% empty %}
				<div class='col-md-4'>
   					<h2>No items found.</h2>
   				</div>
			{% endfor %}
		</div>
	</div>

</div>

{% endblock body %}