{% extends 'base.html' %}
{% load static %}
{% block body %}

<!--

<div class="jumbotron">
<h1 align='center'>{{user.username}}'s Collections</h1>
</div>
-->

<div class='col-md-12'>

	<!--<div class="jumbotron">-->
	<div class="row">
	<div class='col-md-6'>
		<div class="jumbotron">
			<!--<h2>Search</h2>-->
		<!--	<label for="search_box">Search</label>-->
		<form action="/search" method="get" class="navbar-search pull-left">
		<input type="text" placeholder="Search"  name="q" class='form-control' placeholder='Search Collections' >
		</form>
			<!--<input type="text" id="search_box"/>-->
		</div>
	</div>
	<!--<div class='col-md-4'><div class="jumbotron"></div></div>-->
	<div class='col-md-6'>
	<div class="jumbotron">
			<h4><a href="{% url 'items:createitem' %}">Create Item</a></h4>
		</div>
	</div>
	<!--</div>-->

</div>

{% endblock body %}